* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Red Hat Text", sans-serif;
  text-transform: uppercase;
}

.container {
  max-width: 90rem;
  margin-right: 0 auto;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 20vh;
  min-height: 100vh;
  overflow: hidden;
}

.count-down {
  background-image: url(images/bg-stars.svg), linear-gradient(#1e1e2a, #241d2c);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 0 4.8rem;
}

.count-down-heading {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 6px;
  text-align: center;
}

.count-down-timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.count-down-timer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.count-down-timer h2 {
  border-radius: 4px;
  background-color: #343650;
  color: #fb6087;
  font-size: 3.6rem;
  letter-spacing: 2px;
  padding: 0.6rem 1.2rem;
  text-align: center;
  width: 7.8125rem;
  height: 6.25rem;
}

.count-down-timer p {
  color: #8486a9;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 4px;
}

.icons {
  background-color: #241d2c;
  background-image: url(images/pattern-hills.svg);
  color: #8486a9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 33.75rem) {
  .count-down {
    padding: 0 2.4rem;
  }

  .count-down-timer {
    grid-template-columns: repeat(2, 1fr);
  }
}
